<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Characters</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCIÓN</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let character of characterResults" class="text-center">
                        <td>{{character.id}}</td>
                        <td>{{character.name}}</td>
                        <td>{{character.description}}</td>
                        <td>
                            <button class="btn btn-warning">Detail</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
